<header [class.scrolled]="scrolled">
  <div class="header-content">
    <div class="name-and-title" [class.scrolled]="scrolled">
      <h1 [class.scrolled]="scrolled">Yuri Drobkov</h1>
      <h2 [class.scrolled]="scrolled">Tech Lead / Full-Stack Developer</h2>
    </div>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#references">References</a></li>
      </ul>
    </nav>
  </div>
</header>
