.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .spacer {
    flex: 1; /* Push navigation links to the right */
  }

  a {
    color: white;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline; /* Add hover effect */
  }

  .logo {
    font-size: 1.8rem; /* Larger logo font size */
    font-weight: bold;
  }
}
