footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #cfcfcf;

  p {
    margin: 10px 0;
    font-size: 0.9rem;
  }

  nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
      color: #03a9f4;
      font-size: 1rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
