<section id="about">
  <h3>About</h3>
  <p>
    Accomplished Front-End and Full-Stack Developer with 10 years of expertise in building scalable, user-centric web applications. Proficient in JavaScript frameworks (React, Angular), Node.js, and AWS cloud services. Successfully led cross-functional, international teams, delivering high-impact solutions for prominent clients like Rightway Healthcare, managing applications with millions of active users.
  </p>
  <p>
    Bilingual in English and Spanish, with a strong commitment to remote work and an ambition to grow further in full-stack development roles.
  </p>
  <div class="skills">
    <div class="skills-header">
      <i class="material-icons">workspace_premium</i> Top skills
    </div>
    <div class="skills-list">
      React.js • GraphQL • Amazon Web Services (AWS) • AngularJS • Node.js
    </div>
  </div>
</section>
