.skill {
  margin-bottom: 20px;

  span {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }

  mat-progress-bar {
    height: 10px;
    border-radius: 5px;
    background-color: #eeeeee;

    .mat-progress-bar-fill {
      background-color: #03a9f4 !important; /* Customize bar color */
    }
  }
}
